In [1]:
import pandas as pd
import numpy as np

In [2]:
file_names = np.array(['data/age.xlsx', 'data/cusize.xlsx', 'data/cucomp.xlsx', 
                       'data/income.xlsx', 'data/race.xlsx', 'data/earners.xlsx'])

In [3]:
age = pd.read_excel(file_names.item(0))
income = pd.read_excel(file_names.item(3))
race = pd.read_excel(file_names.item(4))
earners = pd.read_excel(file_names.item(5))

In [12]:
age.transpose().describe()

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
count,1,0.0,10,10,10,0.0,1,0.0,10,10,...,10.0,0.0,10.0,0.0,1,1,0.0,0.0,0.0,1
unique,1,0.0,10,10,10,0.0,1,0.0,10,10,...,10.0,0.0,10.0,0.0,1,1,0.0,0.0,0.0,1
top,"(Aggregates in millions of dollars, unless oth...",NaN,75 years\nand older,13199,Percent distribution of consumer units,NaN,Consumer unit characteristics (mean values):,NaN,69062,75609,...,15.7,NaN,15.7,NaN,a Value is too small to display.,b Data are likely to have large sampling errors.,NaN,NaN,NaN,"Source: Consumer Expenditure Survey, U.S. Bure..."
freq,1,NaN,1,1,1,NaN,1,NaN,1,1,...,1.0,NaN,1.0,NaN,1,1,NaN,NaN,NaN,1