In [6]:
import pandas as pd
import numpy as np

In [9]:
file_names = np.array(['data/age.xlsx', 'data/cusize.xlsx', 'data/cucomp.xlsx', 
                       'data/income.xlsx', 'data/race.xlsx', 'data/earners.xlsx'])

In [11]:
age = pd.read_excel(file_names.item(0))
income = pd.read_excel(file_names.item(3))
race = pd.read_excel(file_names.item(4))
earners = pd.read_excel(file_names.item(5))

In [14]:
earners.head()

,"Table 1600. Number of earners in consumer unit: Shares of annual aggregate expenditures and sources of income, Consumer Expenditure Survey, 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"(Aggregates in millions of dollars, unless oth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item,Aggregate,Single consumers,NaN,Consumer units of two or more people,NaN,NaN,NaN
3,NaN,NaN,No earner,One earner,No earner,One earner,Two earners,Three or\nmore\nearners
4,Number of consumer units (in thousands),130001,16431,20934,13140,25885,42221,11390